{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block page_title %}{% trans '500 eroor' %}{% endblock %}
{% block page_description %}{% trans 'Whoops, something went wrong with our servers… Come back later?' %}{% endblock %}

{% block content %}
    <!-- page wrapper -->
    <div class="page wrapper page-short">

        <!-- content -->
        <div class="content">
            <h1>{% trans 'Whoops, something went wrong with our servers… Come back later?' %}</h1>
        </div>
        <!-- content -->

    </div>
    <!-- /page wrapper -->
{% endblock %}