{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block page_title %}{% trans 'Home' %}{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        <div class="jumbotron">
            <h1>Welcome, {{ request.user.username }}!</h1>
            <div class="media">
                <div class="pull-left">
                    <img src="{{avatar_url}}" class="avatar img-rounded"/>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">This is your picture.</h4>
                    <div class="description">
                        Your assisins will see this picture.<br>
                    </div>
                </div>
            </div>
        </div>



        {% if waiting %}
        <div class="row-fluid marketing">
            <div class="span6">
              <h4>The game will start soon</h4>
              <p>To be more precise, at {{start}}.</p>
            </div>
        </div>
        {% endif %}
    {% else %}
        <div class="jumbotron">
            <h1>DjanGotcha is gonna getcha!</h1>
            <p class="lead">Sign up with your github account</p>
            <a class="btn btn-large btn-success" href="{% url 'socialauth_begin' 'github' %}">Sign up now</a>
        </div>
    {% endif %}

    <div class="row-fluid marketing">
        <div class="span6">
          <h4>Gotcha a DjangoCon</h4>
          <p>During the 3 day conference we will play a Gotcha game. </p>
        </div>
    </div>

    <div class="row-fluid marketing">
        <div class="span6">
          <h4>Please sign up in time</h4>
          <p>Registrations are open until {{closes}}.</p>
        </div>
    </div>
{% endblock %}
