{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block page_title %}{% trans 'Home' %}{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Sign up with your github account</h1>
        <p>No need for a new account. Connect with Github here.</p>
        <a class="btn btn-large btn-success" href="{% url 'socialauth_begin' 'github' %}">Oauth with github</a>
    </div>

    <hr>

    <div class="row-fluid marketing">
        <div class="span6">
          <h4>Don't have a github account?</h4>
          <p>Shame on you! :-)  Go to <a href="http://github.com" target="_blank">http://github.com</a> and create one quickly.</p>
        </div>
    </div>

{% endblock %}
